@import "./functions.scss";
@import "./variables.scss";

.p-a-12 {
    padding: rem(12px) !important;
}
.p-y-10 {
    padding-top: rem(10px) !important;
    padding-bottom: rem(10px) !important;
}
.m-r-2 {
    margin-right: rem(2px) !important;
}
.m-b-2 {
    margin-bottom: rem(2px) !important;
}

.m-b-6 {
    margin-bottom: rem(6px) !important;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-text-field {
    .v-input__control {
        .v-input__slot {
            border: rem(1px) solid $border-normal-color !important;
        }
    }
}
.v-label {
    // font-size: .875rem !important;
    color: $text-normal-color !important;
  }

.v-slide-group__content {
    padding: 0 !important;
}